{% extends 'basic.html' %}

{% block title %}Create Todo{% endblock title %}

{% block body %}

<div class="container">
    <div class='d-flex justify-content-center py-4 '>
        <form action='/createTodo/' method='post' class='col-12 col-sm-10 col-md-6'> {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Create Todo..</h1>
            <div class="m-3">
                <label for="taskName">Task Name</label>
                <input type="text" class="form-control" id="taskName" name='taskName' placeholder="taskName">
            </div>
            <div class="m-3">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" name="description" placeholder="description"
                    rows='3'></textarea>
            </div>
            <div class='mt-3 ps-3 pe-3 row'>
                <div class='col-sm'>
                    <label for="priority">Select Priority</label>
                    <select class="form-select" id='priority' name='priority' aria-label="Default select example">
                        <option value="High">High</option>
                        <option value="Medium">Medium</option>
                        <option value="Low">Low</option>
                    </select>
                </div>
                <div class="col-sm">
                    <label for="lastdate">Due Date</label>
                    <input type="date" class="form-control" id="lastdate" name="lastdate" placeholder="lastdate">
                </div>
            </div>
            <div class="m-3">
                <label for="tag">Tag</label>
                <input type="text" class="form-control" id="tag" name='tag'
                    placeholder="tag">
            </div>
            <div class="m-3">
                <label for="status">Status</label>
                <select class="form-select col-6 w-50" id='status' name='status' aria-label="Default select example">
                    <option value="Not Started">Not Started</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
            <button class="btn btn-primary w-auto py-2 m-3" type="submit">Add Todo</button>
        </form>
    </div>
</div>




{% endblock body %}